/*--------------------------------------------------------------
  # Hero 2 Section
  --------------------------------------------------------------*/

#hero2 {
    width: 100%;
    /* height: 100vh; */
    background: #FFFFFF;
}

#hero2 .container-fluid {
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 3rem!important;
}

#hero2 h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    color: #0B132A;
}

#hero2 h3 {
    color: #4F5665;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 2rem;
    width: 75%;
}

#hero2 h1 .uplift-gradient {
    /* font-size: 72px; */
    background: -webkit-linear-gradient(#fd8905, #f13261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero2 .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 28px 11px 28px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    width: 224px;
    height: 60px;
    background: #F58611;
    box-shadow: 0 4px 30px 0 rgb(245, 56, 56, 0.3), 0 6px 20px 0 rgb(245, 56, 56, 0.25);
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

#hero2 .btn-get-started:hover {
    background: #d66f00;
}

#hero2 .btn-watch-video {
    font-size: 16px;
    display: inline-block;
    padding: 10px 0 8px 40px;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    position: relative;
}

#hero2 .btn-watch-video i {
    color: #fff;
    font-size: 32px;
    position: absolute;
    left: 0;
    top: 7px;
    transition: 0.3s;
}

#hero2 .btn-watch-video:hover i {
    color: #47b2e4;
}

#hero2 .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #hero2 {
        /* height: 100vh; */
        text-align: center;
    }
    #hero2 .animated {
        -webkit-animation: none;
        animation: none;
    }
    #hero2 .hero2-img {
        text-align: center;
    }
    #hero2 .hero2-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    /* #hero2{
        margin-top: 12rem;
        margin-bottom: 10rem;
      } */
    #hero2 h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero2 h3{
        width: 100%;
    }
    #hero2 h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero2 .hero2-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero2 .hero2-img img {
        width: 80%;
    }
    #hero2 .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
    #hero2 .btn-watch-video {
        font-size: 16px;
        padding: 10px 0 8px 40px;
        margin-left: 20px;
    }
    #hero2 .btn-watch-video i {
        font-size: 32px;
        top: 7px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/*--------------------------------------------------------------
    # Hero Section
    --------------------------------------------------------------*/

#hero {
    width: 100%;
    /* height: 100vh; */
    background: #0B132A;
}

#hero .container-fluid {
    margin: 72px!important;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    color: #fff;
    width: 75%;
}

#hero h3 {
    color: #fff;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 2rem;
}

#hero h1 .uplift-gradient {
    /* font-size: 72px; */
    background: -webkit-linear-gradient(#f87e40, #ec018b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 28px 11px 28px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    width: 224px;
    height: 60px;
    background: #F58611;
    box-shadow: 0 4px 30px 0 rgb(245, 56, 56, 0.3), 0 6px 20px 0 rgb(245, 56, 56, 0.25);
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

#hero .btn-get-started:hover {
    background: #d66f00;
}

#hero .btn-watch-video {
    font-size: 16px;
    display: inline-block;
    padding: 10px 0 8px 40px;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    position: relative;
}

#hero .btn-watch-video i {
    color: #fff;
    font-size: 32px;
    position: absolute;
    left: 0;
    top: 7px;
    transition: 0.3s;
}

#hero .btn-watch-video:hover i {
    color: #47b2e4;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #hero {
        /* height: 100vh; */
        text-align: center;
    }
    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    /* #hero{
      margin-top: 12rem;
      margin-bottom: 10rem;
    } */
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
        width: 100%;
    }
    #hero .container-fluid {
        margin-left: auto!important;
        margin-right: auto!important;
        margin-top: 3rem!important;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
    #hero .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
    #hero .btn-watch-video {
        font-size: 16px;
        padding: 10px 0 8px 40px;
        margin-left: 20px;
    }
    #hero .btn-watch-video i {
        font-size: 32px;
        top: 7px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.highlight-text {
    color: #ffbf19;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/

.hero-container {
    background: url(../assets/New\ Project\(1\).png);
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.hero-box {
    position: absolute;
    top: 30%;
    left: 20%;
}

.hero-box h1 {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 10rem;
    line-height: 180px;
    /* or 130% */
    color: #30235B;
}

.hero-box a {
    width: 250px;
    height: 60px;
    background: #EC008B;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .hero-box {
        left: 50%;
        transform: translateX(-50%);
    }
    .hero-box h1 {
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 3.5rem;
        /* or 130% */
        color: #30235B;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}

#header.header-scrolled, #header.header-inner-pages {
    background: #121E42!important;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 80px;
}

/*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/

/* Desktop Navigation */

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul {
    display: flex;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    transition: 0.3s;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    padding-top: .7em;
    text-decoration: none;
}

.nav-menu a:hover, .nav-menu .active>a, .nav-menu li:hover>a {
    color: #EC008B;
    border-top: 2px solid #EC008B;
}

.nav-menu .drop-down ul {
    border-radius: 8px;
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.project-archieve {
    display: none;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #0c3c53;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active>a, .nav-menu .drop-down ul li:hover>a {
    color: #EC008B;
    /* font-weight: bold; */
}

.nav-menu .drop-down>a:after {
    /* content: "\ea99"; */
    font-family: 'Rubik', sans-serif;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    /* content: "\eaa0"; */
    font-family: 'Rubik', sans-serif;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }
    .nav-menu .drop-down .drop-down>a:after {
        /* content: "\ea9d"; */
    }
}

/* Get Startet Button */

.get-started-btn {
    margin-left: 25px;
    color: #fff;
    border-radius: 50px;
    padding: 6px 25px 7px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid #47b2e4;
    font-weight: 600;
}

.get-started-btn:hover {
    background: #EC008B;
    color: #fff;
}

@media (max-width: 768px) {
    .get-started-btn {
        margin: 0 48px 0 0;
        padding: 6px 20px 7px 20px;
    }
    .project-archieve {
        display: block;
    }
}

/* Mobile Navigation */

.mobile-nav-toggle {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #fff!important;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #4F5665;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav a:hover, .mobile-nav .active>a, .mobile-nav li:hover>a {
    color: #EC008B;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    /* content: "\ea99"; */
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\eaa1";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(80, 113, 170, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}