* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #0b132a;
  font-family: "Rubik", sans-serif;
}

.coming-soon {
  background: -webkit-linear-gradient(
    #fa620c 28.29%,
    rgba(250, 98, 12, 0.94) 28.3%,
    rgba(236, 0, 139, 0.7) 83.43%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.5rem;
}

#myBtn {
  display: block;
  position: fixed;
  height: 60px;
  width: 60px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #5a54ff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #423dd6;
}

/* NAVBAR START */
.bs-example nav {
  background: #0b132a;
}
.nav-item {
  color: white;
}

.nav-item:hover {
  color: azure;
}

.register-btn {
  background: #5a54ff;
  font-weight: bold;
}

.register-btn:hover{
  background: #423dd6;
}

@media only screen and (max-width: 600px) {
  .register-btn {
    width: 100% !important;
  }
}
/* NAVBAR END */

/* Popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.contentBox {
  position: relative;
  width: 600px;
  height: 400px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.contentBox .imageBox {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentBox .imageBox img {
  position: relative;
  object-fit: cover;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  background: #f3f3f3 url("assets/close.png");
  background-repeat: no-repeat;
  background-repeat: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}

/*--------------------------------------------------------------
    # Hero Section
    --------------------------------------------------------------*/

#hero {
  width: 100%;
  /* height: 100vh; */
  background: #0b132a;
}

#hero .container-fluid {
  margin: 72px !important;
}

/* #hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  color: #fff;
  width: 75%;
} */

#hero h3 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 2rem;
}

#hero h1 .uplift-gradient {
  /* font-size: 72px; */
  background: -webkit-linear-gradient(#f87e40, #ec018b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hack-title {
  background: -webkit-linear-gradient(
    #fa620c 28.29%,
    rgba(250, 98, 12, 0.94) 28.3%,
    rgba(236, 0, 139, 0.7) 83.43%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 28px 11px 28px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  width: 224px;
  height: 60px;
  background: #f58611;
  box-shadow: 0 4px 30px 0 rgb(245, 56, 56, 0.3),
    0 6px 20px 0 rgb(245, 56, 56, 0.25);
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

.date-div {
  border-top: 1px solid rgba(255, 255, 255, 0.17);
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 0 8px 40px;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  position: relative;
}

#hero .btn-watch-video i {
  color: #fff;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.3s;
}

#hero .btn-watch-video:hover i {
  color: #47b2e4;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    /* height: 100vh; */
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  /* #hero{
          margin-top: 12rem;
          margin-bottom: 10rem;
        } */
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    width: 100%;
  }
  #hero .container-fluid {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 3rem !important;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
  #hero .btn-watch-video {
    font-size: 16px;
    padding: 10px 0 8px 40px;
    margin-left: 20px;
  }
  #hero .btn-watch-video i {
    font-size: 32px;
    top: 7px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.highlight-text {
  color: #ffbf19;
}

/* Hero ends */

/* Timer start */
.timer {
  background-color: #ffa400;
}
/* Timer ends */

/* Profile Themes start */
.theme-card {
  background-color: #121e42;
}

.theme-card:hover {
  border: 1px solid #ffa400;
}

.theme-btn {
  background: #ffa400;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.theme-title {
  letter-spacing: 0.2rem;
}

/* Timeline starts */

/* @import url(https://fonts.googleapis.com/css?family=Rubik:400,900);
body {
    font-family: "Rubik", sans-serif;
    color: #333;
} */

header h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}

header p {
  text-align: center;
  margin-bottom: 0;
}

.hexa {
  border: 0px;
  border-radius: 50%;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #ffa400;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 5px;
  height: 100%;
  margin-left: -2px;
  background: rgb(213, 213, 213);
  background: -moz-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: rgba(255, 255, 255, 0.17);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, #ffa400 0%, #ffa400 100%);
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px #ffa400;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #ffa400;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: #0b132a;
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  /* border-bottom-color: rgb(255, 255, 255); */
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  /* -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); */
}

.direction-r .flag {
  /* -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); */
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #00c4f3;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: #0b132a;
  /* background: transparent; */
  /* -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); */
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media (min-width: 768px) {
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }
  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }
  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }
  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }
  .flag-wrapper {
    display: inline-block;
  }
  .flag {
    font-size: 18px;
  }
  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    /* border-left-color: rgb(254, 254, 254); */
    border-width: 8px;
  }
  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    /* border-right-color: rgb(254, 254, 254); */
    border-width: 8px;
    left: -8px;
  }
  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }
  .direction-l .time-wrapper {
    float: left;
  }
  .direction-r .time-wrapper {
    float: right;
  }
  .time {
    padding: 5px 10px;
  }
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media (min-width: 992px) {
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }
  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

/* Timeline ends */

/* Sponsor starts */
.sponsor-col:hover {
  transform: scale(1.1);
  transition: ease 0.5s;
}

.sponsor-col:hover a {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* Sponsor ends */

/* Footer start */

.footers {
  background: #f8f8f8;
}

.footers a {
  color: #4f5665;
}

.social-icon {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0px 10px 30px 2px #bdbdbd;
}

.social-icon i {
  color: #5a54ff !important;
}

.footers p {
  color: #4f5665;
}

.footers ul {
  line-height: 30px;
}

#social-fb:hover {
  color: #3b5998;
  transition: all 0.001s;
}

#social-tw:hover {
  color: #4099ff;
  transition: all 0.001s;
}

#social-gp:hover {
  color: #d34836;
  transition: all 0.001s;
}

#social-em:hover {
  color: #f39c12;
  transition: all 0.001s;
}

.footer-link-title {
  font-weight: bold;
}

.sponsor-btn {
  width: 250px;
  height: 60px;
  background: #5a54ff;
  box-shadow: 0 4px 30px 0 rgb(245, 56, 56, 0.3),
    0 6px 20px 0 rgb(245, 56, 56, 0.25);
  border-radius: 10px;
  border: none;
}
.mail-btn {
  background: #5a54ff;
  box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.49);
  border-radius: 10px;
  border: none;
  color: #fff;
}
.sponsor-box {
  bottom: -5rem;
}

.sponsor-btn:hover {
  background: rgb(247, 10, 10);
}
.sponsor-btn:active {
  background: rgb(247, 10, 10);
}
.sponsor-btn:focus {
  background: rgb(247, 10, 10);
}

.mail-btn:hover {
  background: #403bdd;
}
.mail-btn:active {
  background: #403bdd;
}
.mail-btn:focus {
  background: #403bdd;
}

@media (max-width: 768px) {
  .sponsor-btn {
    width: max-content;
    height: max-content;
  }
}

/* Footer ends */
