body {
    background: #0D1025;
    font-family: 'Rubik', sans-serif;
    width: 100%;
}

.title {
    margin-bottom: 50px;
    margin-top: 5rem;
    color: #EC008B;
}

.main-row {
    /* padding-right: 5em; */
    width: 100%;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    /* padding: 1em; */
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
    height: 11em;
}

.card {
    font-size: 1em;
    overflow: hidden;
    margin: 2.5em;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 18px 43px rgba(0, 0, 0, 0.77);
    border-radius: 10px;
    transition: ease-in smooth .5s;
    width: 500em;
}

.card:hover .btn {
    background: #fff;
    color: #EC008B;
}

.card:hover {
    background: #EC008B;
    color: #FFFFFF;
}

.btn {
    background: #EC008B;
    border-radius: 10px;
    width: 8em;
    border: none;
}

.btn-primary:active {
    background: #0B132A !important;
    /* add here any color */
    color: #FFFFFF!important;
}

.btn-primary:focus {
    background: #0B132A!important;
    /* add here any color */
    color: #fff!important;
}

.modal {
    color: #000!important;
}

.github-btn, .domain-btn {
    background: #FFFFFF;
    color: #EC008B;
}

.github-btn {
    width: 10rem;
}

.modal-dialog {
    max-width: 1000px;
}

.milestones-col {
    border-right: 1px solid #0B132A;
    border-left: 1px solid #0B132A;
}

.gradient-text {
    background: -webkit-linear-gradient(#f01179, #fa4044);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: bold;
}

.sponsor-image {
  width: 360px;
  height: 115px;
  margin: 20px 0;
}

.sponsor .col-lg-6 {
  padding-right: 15px;
}

.sponsor-heading {
  font-size: 29px;
  line-height: 34px;
  color: #00acef;
}

.sponsor-content {
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
  }
  
  #header.header-scrolled, #header.header-inner-pages {
    background: #121E42!important;
  }
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  #header .logo a {
    color: #fff;
  }
  
  #header .logo img {
    max-height: 80px;
  }
  
  /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
  
  /* Desktop Navigation */
  
  .nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul {
    display: flex;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    transition: 0.3s;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    padding-top: .7em;
    text-decoration: none;
  }
  
  .nav-menu a:hover, .nav-menu .active>a, .nav-menu li:hover>a {
    color: #EC008B;
    border-top: 2px solid #EC008B;
  }
  
  .nav-menu .drop-down ul {
    border-radius: 8px;
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .project-archieve {
    display: none;
  }
  
  .nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #0c3c53;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active>a, .nav-menu .drop-down ul li:hover>a {
    color: #EC008B;
    /* font-weight: bold; */
  }
  
  .nav-menu .drop-down>a:after {
    /* content: "\ea99"; */
    font-family: 'Rubik', sans-serif;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down>a:after {
    /* content: "\eaa0"; */
    font-family: 'Rubik', sans-serif;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover>ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down>a:after {
      /* content: "\ea9d"; */
    }
  }
  
  /* Get Startet Button */
  
  .get-started-btn {
    margin-left: 25px;
    color: #fff;
    border-radius: 50px;
    padding: 6px 25px 7px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid #47b2e4;
    font-weight: 600;
  }
  
  .get-started-btn:hover {
    background: #EC008B;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .get-started-btn {
      margin: 0 48px 0 0;
      padding: 6px 20px 7px 20px;
    }
    .project-archieve {
      display: block;
    }
  }
  
  /* Mobile Navigation */
  
  .mobile-nav-toggle {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #fff;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #4F5665;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active>a, .mobile-nav li:hover>a {
    color: #EC008B;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down>a:after {
    /* content: "\ea99"; */
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down>a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down>a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(80, 113, 170, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  .detail-btn{
    margin-top: 2rem;
  }
  
  @media (max-width: 768px){
    .card-block h4{
      font-size: 1.2rem;
    }
    .detail-btn{
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }