.card {
    margin: 0 auto;
    border: none;
    background: #0B132A;
}

.testimonial-section {
    background: #0B132A;
}

.card .carousel-item {
    min-height: 190px;
}

.card .carousel-caption {
    padding: 0;
    right: 15px;
    left: 15px;
    top: 15px;
    border: 2px solid #DDDDDD;
    min-height: 175px;
    padding: 15px;
    background: #121E42;
    border-radius: 10px;
}

.card .carousel-caption:hover {
    transition: ease .4s;
    border: 2px solid #F53838;
}

.card .carousel-caption .col-sm-3 {
    display: flex;
    align-items: center;
}

.card .carousel-caption .col-sm-9 {
    text-align: left;
}

.card .carousel-control-prev, .card .carousel-control-next {
    color: #3d3d3d !important;
    opacity: 1 !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
    color: #fff;
    font-size: 14px;
    background-color: #F53838;
    height: 32px;
    line-height: 30px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid #F53838;
    box-sizing: border-box;
}
.carousel-control-prev-icon i, .carousel-control-next-icon i{
    color: #121E42;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover{
    background: #121E42;
}
.carousel-control-prev-icon:hover i, .carousel-control-next-icon:hover i{
    color: #F53838;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    opacity: 0.85;
}

.carousel-control-prev {
    left: 40%;
    top: 110%;
}

.carousel-control-next {
    right: 40%;
    top: 110%;
}

.midline {
    width: 60px;
    border-top: 1px solid #d43025;
}

.carousel-caption h2 {
    font-size: 14px;
}

.carousel-caption h2 span {
    color: #F53838;
}

@media (min-width: 320px) and (max-width: 575px) {
    .carousel-caption {
        position: relative;
    }
    .card .carousel-caption {
        left: 0;
        top: 0;
        margin-bottom: 15px;
    }
    .card .carousel-caption img {
        margin: 0 auto;
    }
    .carousel-control-prev {
        left: 35%;
        top: 105%;
    }
    .carousel-control-next {
        right: 35%;
        top: 105%;
    }
    .card .carousel-caption h3 {
        margin-top: 0;
        font-size: 16px;
        font-weight: 700;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .carousel-caption {
        position: relative;
    }
    .card .carousel-caption {
        left: 0;
        top: 0;
        margin-bottom: 15px;
    }
    .card .carousel-caption img {
        margin: 0 auto;
    }
    .card .carousel-caption h3, .card .carousel-caption small {
        text-align: center;
    }
    .carousel-control-prev {
        left: 35%;
        top: 105%;
    }
    .carousel-control-next {
        right: 35%;
        top: 105%;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .card .carousel-caption h3 {
        margin-top: 0;
        font-size: 16px;
        font-weight: 700;
    }
}
